html, body {
  height: 100%;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.descriptor-box {
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 20px 40px;
  box-shadow: 7px 7px 8px lightgray;

  .description {
    font-size: 20px;
  }

  .download {
    @extend .text-center;
    font-size: 50px;
  }
}

h3 span {
  font-size: 16px;
  color: darkgrey;
}

#content {
  background-color: $bg-color;
  overflow-y: auto;
  height: 100%;
  padding-top: 0;
}

.full-height {
  height: 100%;
}

.vertical-space {
  padding: 10px 0 10px 0;
}

.link {
  color: darkgray;
}

#main {
  margin-top: 30px;
  margin-bottom: 80px;
  background: #F3F1F1
}

.response {
  padding: 10px;
}

.separated {
  margin-bottom: 50px;
}

.minor-separated {
  margin-bottom: 20px;
}

.separated-top {
  margin-top: 50px;
}

.minor-separated-top {
  margin-top: 20px;
}

.btn-primary {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  padding: 10px 30px 10px;
  border-radius: 10px;
}

.btn-warning {
  background-color: #727272;
  border-color: #C4C0C0;
  color: #FCFBFB;
  border-radius: 5px;
  padding: 10px 30px 10px;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  color: #FCFBFB;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.btn-secondary {
  background-color: #727272;
  border-color: #C4C0C0;
  color: #FCFBFB;
  border-radius: 15px;
  padding: 5px 20px 5px;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #FCFBFB;
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.btn-default {
  background-color: #DED9D9;
  border-color: #DED9D9;
  color: #474747;
  padding: 10px 30px 10px;
  border-radius: 5px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: #474747;
  background-color: #C0C0C0;
  border-color: #C0C0C0;
}

.loading {
  @extend .text-center;
  min-height: 100%;
  color: darkgrey;
  i {
    font-size: 3em;
  }
}

.margin-sides {
  margin-left: 10px;
  margin-right: 10px;
}
