#menu {
  @extend .container-fluid;

  .list-group {
    margin-bottom: 50px;
    font-size: 1.2em;

    i {
      font-size: 1.8em;
    }

    .active {
      background-color: #727272;
      border-color: #727272;
      color: #fff !important;
    }
  }
}
