#menu {
  @extend .container-fluid;
  height: 100%;

  .list-group {
    margin-bottom: 50px;

    .active {
      background-color: #727272;
      color: #FFF;
      border-color: #727272;
    }
  }
}
