.descriptor {
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 40px 40px;
  box-shadow: 7px 7px 8px lightgray;
  margin: 10px 0px 40px;
  .description {
    font-size: 20px;
  }
  .download {
    @extend .text-center;
    font-size: 50px;
  }
  h1 {
    font-size: 1.5em;
  }
  .blueish {
    color: dodgerblue;
    .dateSelector {
      border-color: dodgerblue !important;
    }
  }
  .right {
    text-align: right;
  }
  .information {
    color: darkgrey;
  }
  .title {
    color: cornflowerblue;
    align-content: center;
  }
  .subtitle {
    align-content: center;
  }
  .btn-secondary {
    padding: 10px 30px 10px;
    border-radius: 5px;
  }
}
.descriptor-box {
  background-color: #fff;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 5px;
  padding: 40px 40px 40px;
  margin: 30px 0px 40px;
  border-color: lightgray;
  box-shadow: 7px 7px 8px #FFF;
}
.document-box {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 40px 5px;
  box-shadow: 7px 7px 8px lightgray;
  margin: 10px 0px 40px;
}
.tender-form-head {
  @extend .sticky-top;
  background-color: $bg-color;
  margin-top: 0;
  padding-top: 10px;
}
.tender-section-head {
  @extend .sticky-top;
  background-color: $bg-color;
  top: 101px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.top-panel {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 40px 5px;
  box-shadow: 7px 7px 8px lightgray;

  .btn-secondary {
    padding: 10px 30px 10px;
    border-radius: 5px;
  }
}

.active {
  color: cornflowerblue !important;
}

.inactive {
  color: $secondary;
}

.question-group {
  border-bottom: 2px solid lightgray;
  padding-top: 20px;
}
